<ion-content>
  <app-tpl-body title="Main Menu">
    <ng-template tplBody>

      <div class="container">
        <ion-grid>
          <ion-label class="rm-m-b-10">Latest</ion-label>
          <ion-row>
            <ion-col size="3" class="ion-text-center" *ngFor="let recent of recents">
              <div class="custom-card rm-m-b-10" [routerLink]="recent.path">
                <img [src]="recent.icon">
              </div>
              <small class="limit-text">{{recent.name}}</small>
            </ion-col> 


          </ion-row>
        </ion-grid>
      </div>

      <div class="container">
        <ion-grid>
          <ion-label class="rm-m-b-10">Favourite</ion-label>
          <ion-row>
            <ion-col size="3" class="ion-text-center" *ngFor="let fav of favs">
              <div class="custom-card rm-m-b-10" [routerLink]="fav.path">
                <img [src]="fav.icon">
              </div>
              <small class="limit-text">{{fav.name}}</small>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </ng-template>
  </app-tpl-body>
</ion-content>