.card-info{
    margin: 20px;
}

ion-label{
    padding-left: 30px;
}
ion-card-header{
  padding: 5px;
}
ion-card-title{
  font-size: 15px;
  padding: 5px;
}
ion-card-content{
  font-size: 15px;
  color: #B0B0B0;
  padding: 5px;
}
.core{
  margin: 20px;
}

ion-item{
  img{
    border-radius: 0px;
  }
}
ion-content {
  .status{
    position: relative;
    // top: -1.2em;
    margin: 10px;

    .start-item{
      text-align: left;
      font-weight: bold;
      font-size: 13px;
    }
    .end-item{
      text-align: right;  
      font-size: 12px;
    }
    ion-card {
      height: max-content;
    }
  }
}

.checkInButton{
  display:flex; 
  justify-content: center;
}