<ion-content>
  <app-tpl-page title="2nd Driver" isBack="true">
    <ng-template tplPage>

      <div class="status">
        <ion-card class="status">
          <ion-list>
            <ion-item lines="none">
              <ion-text class="start-item">Name</ion-text>
              <ion-label class="ion-text-wrap end-item">Mohd. Nor Ghazali</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Employee ID</ion-text>
              <ion-label class="ion-text-wrap end-item">MY123321SURI</ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </div>

      <!-- <ion-button (click)="" class="checkInButton" color="success"> </ion-button> -->

    </ng-template>
  </app-tpl-page>
</ion-content>

<ion-footer (click)="swapDrivers()">
  <ion-toolbar color="success">
    <ion-title> Swap Drivers </ion-title>
  </ion-toolbar>
</ion-footer>
