<!-- <ion-header>
  <ion-toolbar>
    <ion-title>passengers-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-content>
  <app-tpl-page title="Passengers Profile" isBack="true">
    <ng-template tplPage>

    </ng-template>
  </app-tpl-page>
</ion-content>
