<ion-content>
  <app-tpl-page title="SOS" isBack="true">
    <ng-template tplPage>
      <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">

        <ion-grid class="head">
          <ion-row>
            <ion-col>
              Keterangan* :
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-item>
          <ion-label position="floating">Aduan Anda...</ion-label>
          <ion-textarea type="text" formControlName="keterangan"></ion-textarea>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col>
              <span style="color:rgb(214, 66, 66)">* Jumlah maksimum aduan yang dibenarkan adalah
                {{remainingWords()}} aksara</span>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="body">
          <ion-row>
            <ion-col>
              Untuk hantar lokasi semasa, sila tekan butang on
            </ion-col>
            <ion-label>
              <ion-toggle slot="end" (click)="getLocation()"></ion-toggle>
              <ion-input formControlName="lat" value="{{latitude}}" type="number" hidden></ion-input>
              <ion-input formControlName="long" value="{{longitude}}" type="number" hidden></ion-input>
            </ion-label>
          </ion-row>
        </ion-grid>

        <section>

          <ion-button size="large" (click)="takePicture('camera')">
            <ion-icon slot="start" name="camera"></ion-icon>
            Camera
          </ion-button>
          <ion-button size="large" (click)="takePicture('gallery')">
            <ion-icon slot="start" name="images-sharp"></ion-icon>
            Galeri
          </ion-button>

          <input type="file" #filePickerRef (change)="onFileChoose($event)" />
          <input type="hidden" formControlName="uploadfilename" />

          <ion-card *ngIf="photo">
            <ion-card-content>
              <img [src]="photo">
            </ion-card-content>
          </ion-card>
        </section>
        
        <!-- <pre>{{myform.value | json}}</pre> -->

        <br>
        <div class="buttons">
          <ion-button id="bgred" shape="round" expand="block" (click)="reset()">Set Semula</ion-button>
          <ion-button id="bgblue" shape="round" expand="block" type="submit">Hantar</ion-button>
        </div>
      </form>
    </ng-template>
  </app-tpl-page>
</ion-content>