<ion-content>
  <app-tpl-page title="Swap Drivers" isBack="true">
    <ng-template tplPage>

      <ion-grid class="body">
        <ion-row>
          <ion-col>
            Turn this on
          </ion-col>
          <ion-label>
            <ion-toggle slot="end" (click)="getLocation()"></ion-toggle>
            <ion-input type="number" hidden></ion-input>
            <ion-input type="number" hidden></ion-input>
          </ion-label>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>Latitude: {{ latitude }}</ion-item>
            <ion-item>Longitude: {{ longitude }}</ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <section>
        <ion-button size="large" (click)="takePicture('camera')">
          <ion-icon slot="start" name="camera"></ion-icon>
          Swap Drivers
        </ion-button>
      </section>

    </ng-template>
  </app-tpl-page>
</ion-content>