.smalldata{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-radius: 4px;
    padding-bottom: 0px;
    margin-top: 30px;
  
    ion-grid{
      border-bottom: 2px solid var(--ion-color-tertiary);
      ion-col{
        font-weight: 500;
        padding: 15px;
        width: 200px;
      }
      ion-label{
        padding: 15px;
        text-align: left;
        width: 200px;
        color: #8d8d8d;
      }
    }
  }

  .bigdata {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
      rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-radius: 4px;
    padding-bottom: 0px;
    margin-top: 20px;
    
    ion-grid {
      border-bottom: 2px solid var(--ion-color-tertiary);
      ion-col {
        font-weight: 500;
        padding: 15px;
        width: 100%;
  
      }
      ion-label {
        padding: 0px 15px 15px 15px;
        padding-top: 0px;
        color: #8d8d8d;
        width: 100%;
      }
    }
  }
  
  ion-list{
      padding: 0px;
  }