<div>
  <div class="toolbar">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()" *ngIf="isBack">
          <img class="back-icon" src="assets/svg/chevron-back-outline.svg" />
        </ion-button>
      </ion-buttons>
    </ion-toolbar> 
  </div>
  <div class="toolbar-inner">
    <h2><strong>{{title || 'Menu Template'}}</strong></h2>
  </div>
</div>
<div class="list">
  <ng-container *ngTemplateOutlet="menuTpl || defaultValueTpl;">
  </ng-container>
</div>

<ng-template #defaultValueTpl>
  <ion-card class="menu-card">
    <ion-card-content>
      <ion-item lines="none">
        <ion-avatar>
          <img src="assets/img/accident.png">
        </ion-avatar>
        <h1>Test</h1>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ng-template>