<ion-content>
  <app-tpl-page title="Alerts" isBack="true">
    <ng-template tplPage>

      <ion-grid>
        <ion-item>
          <ion-icon name="calendar-sharp" position="start"></ion-icon>
          <ion-datetime displayFormat="DD / MM / YYYY" placeholder="Sila Pilih Tarikh">
          </ion-datetime>
        </ion-item>
      </ion-grid>

      <div class="status">
        <ion-card class="status">
          <ion-list>
            <ion-item lines="none">
              <ion-text class="start-item">Date</ion-text>
              <ion-label class="end-item">25 / 08 / 2020</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Depart From</ion-text>
              <ion-label class="ion-text-wrap end-item">Terminal Bersepadu Selatan</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Destination</ion-text>
              <ion-label class="end-item">Tampin</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="start-item">Kesalahan</ion-text>
              <ion-label class="end-item">123123</ion-label>
            </ion-item>
            
            <!-- <ion-item lines="none">
              <ion-text class="start-item">Check In</ion-text>
              <ion-button (click)="goToBoarding()" slot="end" color="success" class="end-item">Check In</ion-button>
            </ion-item> -->
          </ion-list>
        </ion-card>
      </div>

    </ng-template>
  </app-tpl-page>
</ion-content>