<ion-tabs>
  <div [hidden]="isHidden">
    <ion-tab-bar slot="bottom">
      <ion-tab-button [class]="checkActive('shortlink')" tab="shortlink">
        <ion-icon name="link-outline"></ion-icon>
        <ion-label *ngIf="isPage('shortlink')">Pautan</ion-label>
      </ion-tab-button>
  
      <ion-tab-button>
        <ion-icon name="home-outline"></ion-icon>
        <ion-label *ngIf="isPage('home')"></ion-label>
      </ion-tab-button>
  
  
      <ion-tab-button [class]="checkActive('main-profil')" tab="main-profil">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label *ngIf="isPage('main-profil')">Profil</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button routerLink="/main/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-tabs>