<ion-content>
  <app-tpl-body title="Transit" isBack="true">
    <ng-template tplBody>

      <ion-card routerLink="/transit/sos">
        <ion-item lines="none">
          <ion-avatar>
            <!-- <ion-icon name="person-circle"></ion-icon> -->
            <img src="assets/svg/maklumat_profil.svg">
          </ion-avatar>
          <ion-label>SOS</ion-label>
        </ion-item>
      </ion-card>

      <ion-card routerLink="/transit/alert">
        <ion-item lines="none">
          <ion-avatar>
            <!-- <ion-icon name="person-circle"></ion-icon> -->
            <img src="assets/svg/eGL.svg">
          </ion-avatar>
          <ion-label>Alert</ion-label>
        </ion-item>
      </ion-card>

      <ion-card routerLink="/transit/complaints">
        <ion-item lines="none">
          <ion-avatar>
            <!-- <ion-icon name="person-circle"></ion-icon> -->
            <img src="assets/svg/cuti.svg">
          </ion-avatar>
          <ion-label>Complaints</ion-label>
        </ion-item>
      </ion-card>
    </ng-template>

  </app-tpl-body>
</ion-content>