<ion-content>
  <app-tpl-body title="Check In" isBack="true">
    <ng-template tplBody>

      <ion-card routerLink="/check-in/passengers-profile">
        <ion-item lines="none">
          <ion-avatar>
            <!-- <ion-icon name="person-circle"></ion-icon> -->
            <img src="assets/svg/maklumat_profil.svg">
          </ion-avatar>
          <ion-label>Passenger Profiles</ion-label>
        </ion-item>
      </ion-card>

      <ion-card routerLink="/check-in/trip-details">
        <ion-item lines="none">
          <ion-avatar>
            <!-- <ion-icon name="person-circle"></ion-icon> -->
            <img src="assets/svg/eGL.svg">
          </ion-avatar>
          <ion-label>Trip Details</ion-label>
        </ion-item>
      </ion-card>

    </ng-template>

  </app-tpl-body>
</ion-content>