
<ion-content class="bgcolor">
    <ion-row>
        <ion-col size-sm="12">
            <h1>Bus Ticket Booking System ( Driver )</h1>
        </ion-col>
    </ion-row>
</ion-content>
<ion-router-outlet></ion-router-outlet>