.bgcolor {
    --background: var(--ion-color-primary);
    overflow: hidden !important;
}

h1 {
    margin-top: 10vh;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
}

