/* Custom Icon Segment MD */
.md .custom-icon {
  --indicator-color: lightgray;
}

.md .segment-daily {
  --background-hover: rgba(59, 89, 153, 0.04);
  --color-activated: #3b5999;
  --color-checked: #3b5999;
}

.md .segment-weekly {
  --background-hover: rgba(228, 64, 95, 0.04);
  --color-activated: #e4405f;
  --color-checked: #e4405f;
}

.md .segment-monthly {
  --background-hover: rgba(58, 175, 133, 0.04);
  --color-activated: #3aaf85;
  --color-checked: #3aaf85;
}

/* Custom Icon Segment iOS */
.ios .custom-icon ion-segment-button {
  --border-width: 0;
}

.ios .segment-facebook {
  --color: #3b5999;
  --color-checked: #ffffff;
  --background-hover: rgba(59, 89, 153, 0.1);
  --background-activated: rgba(59, 89, 153, 0.16);
  --background-checked: #3b5999;
}

.ios .segment-instagram {
  --color: #e4405f;
  --color-checked: #ffffff;
  --background-hover: rgba(228, 64, 95, 0.1);
  --background-activated: rgba(228, 64, 95, 0.16);
  --background-checked: #e4405f;
}

.ios .segment-slack {
  --color: #3aaf85;
  --color-checked: #ffffff;
  --background-hover: rgba(58, 175, 133, 0.1);
  --background-activated: rgba(58, 175, 133, 0.16);
  --background-checked: #3aaf85;
}

// .custom-icon ion-icon {
//   font-size: 44px;
// }


:root {  
    --ion-safe-area-top: 20px;  
    --ion-safe-area-bottom: 22px;  
  }  
  ion-slide {  
    height: calc(100vh - 153px);  
  }  