<ion-content>
  <app-tpl-page title="Travel Info" isBack="true">
    <ng-template tplPage>
      
      <ion-toolbar>
        <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" class="custom-icon">
          <ion-segment-button class="segment-daily" value="0" layout="icon-bottom">
            <ion-label>Daily</ion-label>
          </ion-segment-button>
          <ion-segment-button class="segment-weekly" value="1" layout="icon-bottom">
            <ion-label>Weekly</ion-label>
          </ion-segment-button>
          <ion-segment-button class="segment-monthly" value="2" layout="icon-bottom">
            <ion-label>Monthly</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>

      <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
        <ion-slide>Daily Segment</ion-slide>
        <ion-slide>Weekly Segment</ion-slide>
        <ion-slide>Monthly Segment</ion-slide>
      </ion-slides>
    </ng-template>
  </app-tpl-page>
</ion-content>