<ion-content>
  <app-tpl-body title="Pautan" isBack="true">
    <ng-template tplBody>

      <ion-card routerLink="/main/second-driver">
        <ion-item lines="none">
          <ion-avatar>
            <!-- <ion-icon name="person-circle"></ion-icon> -->
            <img src="assets/svg/maklumat_profil.svg">
          </ion-avatar>
          <ion-label>2nd Driver</ion-label>
        </ion-item>
      </ion-card>

      <ion-card routerLink="/main/travel-info">
        <ion-item lines="none">
          <ion-avatar>
            <!-- <ion-icon name="person-circle"></ion-icon> -->
            <img src="assets/svg/eGL.svg">
          </ion-avatar>
          <ion-label>Travel Info</ion-label>
        </ion-item>
      </ion-card>

      <ion-card routerLink="/main/vehicle-info">
        <ion-item lines="none">
          <ion-avatar>
            <!-- <ion-icon name="person-circle"></ion-icon> -->
            <img src="assets/svg/cuti.svg">
          </ion-avatar>
          <ion-label>Vehicle Status</ion-label>
        </ion-item>
      </ion-card>


      <ion-card routerLink="/transit">
        <ion-item lines="none">
          <ion-avatar>
            <!-- <ion-icon name="person-circle"></ion-icon> -->
            <img src="assets/svg/cuti.svg">
          </ion-avatar>
          <ion-label>Transit</ion-label>
        </ion-item>
      </ion-card>


    </ng-template>

  </app-tpl-body>
</ion-content>