.header{
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  padding-right: 0;
  background: var(--ion-color-primary);
}
ion-toolbar{
  --background: var(--ion-color-primary);
  color: white;
}

.back-icon{
  max-width: 30px;
  height: auto;
  color: white;
}

.content{
  background: var(--ion-color-primary);
  width: 100vw;;
}

.body{
  position: relative;
  z-index: 100;
  margin: 10px;
}

.profile{
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  border-radius: 4px;

  ion-label{
    margin-left: 20px;
  }

  ion-item{
    color: white;
    --background: var(--ion-color-primary);
  }
  p {
    color: white;
  }
}

.empty{
  margin-top: 30%;
  font-size: 3em;
}